function SnakeGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 30
push constant 30
call Snake.new 2
pop this 0
push constant 2
pop this 1
push pointer 0
return
function SnakeGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Snake.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SnakeGame.moveSnake 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Snake.moveUp 1
pop temp 0
label IF_FALSE0
push this 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Snake.moveDown 1
pop temp 0
label IF_FALSE1
push this 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Snake.moveLeft 1
pop temp 0
label IF_FALSE2
push this 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Snake.moveRight 1
pop temp 0
label IF_FALSE3
push constant 500
call Sys.wait 1
pop temp 0
push constant 0
return
function SnakeGame.drawFruit 1
push argument 0
pop pointer 0
push constant 16384
push argument 2
push constant 256
call Math.multiply 2
add
push argument 1
add
pop local 0
push argument 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1792
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 480
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8188
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16382
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32719
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32719
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16382
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8188
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4088
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 3
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 30
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 62
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 7292
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
goto IF_END1
label IF_FALSE1
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2032
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3896
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3896
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2032
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 992
call Memory.poke 2
pop temp 0
label IF_END1
label IF_END0
push constant 0
return
function SnakeGame.run 10
push argument 0
pop pointer 0
push constant 0
pop local 9
push this 0
call Snake.getX 1
pop local 1
push this 0
call Snake.getY 1
pop local 2
push this 0
call Snake.getSize 1
pop local 3
push constant 255
push local 3
sub
pop local 4
push constant 511
push local 3
sub
pop local 5
push constant 20
pop local 6
push constant 20
pop local 7
push constant 0
pop local 8
push pointer 0
push local 6
push local 7
push local 8
call SnakeGame.drawFruit 4
pop temp 0
label WHILE_EXP0
push local 9
not
not
if-goto WHILE_END0
push local 1
push local 4
gt
push local 2
push local 5
gt
or
push local 1
push local 3
lt
or
push local 1
push local 3
lt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 9
goto IF_END0
label IF_FALSE0
push local 1
push local 6
lt
push local 1
push local 3
add
push local 6
gt
and
push local 2
push local 7
lt
push local 2
push local 3
add
push local 7
gt
and
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 200
pop local 6
push constant 200
pop local 7
push pointer 0
push local 6
push local 7
push local 8
call SnakeGame.drawFruit 4
pop temp 0
push local 8
push constant 1
add
pop local 8
push local 8
push constant 2
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 8
label IF_FALSE2
label IF_FALSE1
label IF_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SnakeGame.moveSnake 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 81
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 9
label IF_FALSE3
push local 0
push constant 131
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 1
pop this 1
label IF_FALSE4
push local 0
push constant 133
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 2
pop this 1
label IF_FALSE5
push local 0
push constant 130
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 3
pop this 1
label IF_FALSE6
push local 0
push constant 132
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 4
pop this 1
label IF_FALSE7
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SnakeGame.moveSnake 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
push this 0
call Snake.getX 1
pop local 1
push this 0
call Snake.getY 1
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
